/*============
  Main Style
============*/

*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background: #333;
}
body {
  padding: 0;
  margin: 0;
  color: #111;
  text-align: center;
}
header {
  background-color: #eee;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #444;
  box-shadow: 0 1px 10px 1px rgba(22, 22, 22, .8);
}
header > input {
  margin: 20px auto;
  padding: .5em;
  border-color: lightgrey;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  box-shadow: inset 1px 1px 12px 2px rgba(22, 22, 22, .2);
}
header > input:focus {
  transition: box-shadow 0.3s;
  box-shadow: inset 1px 1px 12px 2px rgba(22, 22, 22, .2), 1px 1px 12px 2px rgba(55, 55, 175, .3);
  outline: none;
}
header > input::-webkit-input-placeholder {
  font-style: italic;
  transition: opacity 0.2s;
  opacity: 1;
  color: #8f8f8f;
}
header > input::-moz-placeholder {
  font-style: italic;
  transition: opacity 0.2s;
/*  -moz-transition: opacity 0.2s; Doesn't work*/
  opacity: 1;
  color: #8f8f8f;
}
header > input:focus::-webkit-input-placeholder {
  transition: opacity 0.2s;
  opacity: 0;
}
header > input:focus::-moz-placeholder {
  transition: opacity 0.2s;
  opacity: 0;
}
.main-content {
  padding-top: 80px;
}
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a {
  width: 150px;
  height: 150px;
  margin: calc((100vw - 300px) / 4) 0;
  box-shadow: 1px 1px 15px 2px rgba(22, 22, 22, .8);
}
a img {
  width: 100%;
  height: 100%;
}

/*=========
  Overlay
=========*/

#overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 99;
}
#overlay img {
  margin-top: 10vh;
  width: 320px;
  opacity: 0;
}
#overlay p {
  color: #eee;
  text-align: left;
  line-height: 1.5em;
  max-width: 300px;
  margin: .5em auto;
  opacity: 0;
}

/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {

  a {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 15px 2px rgba(22, 22, 22, .8);
    margin: calc((100vw - 400px) / 12) 0;
  }
  #overlay img {
    margin-top: 10vh;
    width: 80%;
  }
  #overlay p {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {

  header > input {
    width: 480px;
  }
  .photo-gallery {
    width: 980px;
    margin: 0 auto;
    justify-content: flex-start;
  }
  a {
    margin: 30px 0;
  }
  a:nth-child(4n+2), a:nth-child(4n+3), a:nth-child(4n+4) {
    margin-left: 60px;
  }
  #overlay img {
    max-width: 800px;
  }

}